/* styles/wordpressStyles.css */

/* Headings */
h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

h5 {
  font-size: 0.875rem;
  font-weight: bold;
}

h6 {
  font-size: 0.75rem;
  font-weight: bold;
}

/* Other elements */
/* Add any other styles you want to apply to your WordPress content */

#a {
  color: rgb(6 182 212);
}

.list-wp ul,
.list-wp ol {
  list-style-type: disc;
  padding-left: 1.25rem;
  margin-bottom: 1.25rem;
}
